<!DOCTYPE html>
<html>
  <%= render 'layouts/rails_default' %>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>